HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.idea/workspace.xml
demo.iml
.idea/workspace.xml
.idea/c04piggy_api.iml
.idea/workspace.xml
.idea/misc.xml
.idea/workspace.xml
c04piggy_api.iml
target/classes/application.properties
src/main/resources/META-INF/persistence.xml
src/main/resources/application.properties
.idea/workspace.xml
