HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
application.properties
persistence.xml
.idea/workspace.xml
.idea/c04piggy_api.iml
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.idea/misc.xml
.idea/workspace.xml
target/classes/application.properties
target/classes/com/example/demo/model/HistoryExport$.class
target/classes/com/example/demo/model/Pig$.class
target/classes/com/example/demo/model/Stock$.class
target/generated-sources/annotations/com/example/demo/model/HistoryExport$.java
target/generated-sources/annotations/com/example/demo/model/Pig$.java
target/generated-sources/annotations/com/example/demo/model/Stock$.java
