HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###

.idea
*.iws
*.iml
*.ipr
application.properties
persistence.xml
.idea/workspace.xml
.idea/c04piggy_api.iml
.idea/misc.xml
target/classes/application.properties
target/classes/com/example/demo/model/HistoryExport$.class
target/classes/com/example/demo/model/Pig$.class
target/classes/com/example/demo/model/Stock$.class
target/generated-sources/annotations/com/example/demo/model/HistoryExport$.java
target/generated-sources/annotations/com/example/demo/model/Pig$.java
target/generated-sources/annotations/com/example/demo/model/Stock$.java
target/generated-sources/annotations/com/example/demo/model/Stock$.java
target/generated-sources/annotations/com/example/demo/model/Pig$.java
target/generated-sources/annotations/com/example/demo/model/HistoryExport$.java
target/classes/com/example/demo/model/Stock$.class
target/classes/com/example/demo/model/Pig$.class
target/classes/com/example/demo/model/HistoryExport$.class

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


c04piggy_api.iml
.idea/workspace.xml
target/generated-sources/annotations/com/example/demo/model/Vendor$.java
target/generated-sources/annotations/com/example/demo/model/Vacxin$.java
target/generated-sources/annotations/com/example/demo/model/TreatmentVacxin$.java
target/generated-sources/annotations/com/example/demo/model/Stock$.java
target/generated-sources/annotations/com/example/demo/model/RolePermission$.java
target/generated-sources/annotations/com/example/demo/model/RoleAccount$.java
target/generated-sources/annotations/com/example/demo/model/Role$.java
target/generated-sources/annotations/com/example/demo/model/PigStatus$.java
target/generated-sources/annotations/com/example/demo/model/PigAssociateStatus$.java
target/generated-sources/annotations/com/example/demo/model/Pig$.java
target/generated-sources/annotations/com/example/demo/model/Permission$.java
target/generated-sources/annotations/com/example/demo/model/Other$.java
target/generated-sources/annotations/com/example/demo/model/Notification$.java
target/generated-sources/annotations/com/example/demo/model/HistoryExport$.java
target/generated-sources/annotations/com/example/demo/model/Herd$.java
target/generated-sources/annotations/com/example/demo/model/FeedType$.java
target/generated-sources/annotations/com/example/demo/model/Feed$.java
target/generated-sources/annotations/com/example/demo/model/Employee$.java
target/generated-sources/annotations/com/example/demo/model/Diseases$.java
target/generated-sources/annotations/com/example/demo/model/Cote$.java
target/generated-sources/annotations/com/example/demo/model/Account$.java
target/classes/com/example/demo/model/Vendor$.class
target/classes/com/example/demo/model/Vacxin$.class
target/classes/com/example/demo/model/TreatmentVacxin$.class
target/classes/com/example/demo/model/Stock$.class
target/classes/com/example/demo/model/RolePermission$.class
target/classes/com/example/demo/model/RoleAccount$.class
target/classes/com/example/demo/model/Role$.class
target/classes/com/example/demo/model/PigStatus$.class
target/classes/com/example/demo/model/PigAssociateStatus$.class
target/classes/com/example/demo/model/Pig.class
target/classes/com/example/demo/model/Pig$PigBuilder.class
target/classes/com/example/demo/model/Pig$.class
target/classes/com/example/demo/model/Permission$.class
target/classes/com/example/demo/model/Other$.class
target/classes/com/example/demo/model/Notification$.class
target/classes/com/example/demo/model/HistoryExport$.class
target/classes/com/example/demo/model/Herd$.class
target/classes/com/example/demo/model/FeedType$.class
target/classes/com/example/demo/model/Feed$.class
target/classes/com/example/demo/model/Employee$.class
target/classes/com/example/demo/model/Diseases$.class
target/classes/com/example/demo/model/Cote$.class
target/classes/com/example/demo/model/Account$.class
target/classes/application.properties
src/main/resources/META-INF/persistence.xml
src/main/resources/application.properties
.idea/workspace.xml
target/generated-sources/annotations/com/example/demo/model/Vendor$.java
target/generated-sources/annotations/com/example/demo/model/Vacxin$.java
target/generated-sources/annotations/com/example/demo/model/TreatmentVacxin$.java
target/generated-sources/annotations/com/example/demo/model/Stock$.java
target/generated-sources/annotations/com/example/demo/model/RolePermission$.java
target/generated-sources/annotations/com/example/demo/model/RoleAccount$.java
target/generated-sources/annotations/com/example/demo/model/Role$.java
target/generated-sources/annotations/com/example/demo/model/PigStatus$.java
target/generated-sources/annotations/com/example/demo/model/PigAssociateStatus$.java
target/generated-sources/annotations/com/example/demo/model/Pig$.java
target/generated-sources/annotations/com/example/demo/model/Permission$.java
target/generated-sources/annotations/com/example/demo/model/Other$.java
target/generated-sources/annotations/com/example/demo/model/Notification$.java
target/generated-sources/annotations/com/example/demo/model/HistoryExport$.java
target/generated-sources/annotations/com/example/demo/model/Herd$.java
target/generated-sources/annotations/com/example/demo/model/FeedType$.java
target/generated-sources/annotations/com/example/demo/model/Feed$.java
target/generated-sources/annotations/com/example/demo/model/Employee$.java
target/generated-sources/annotations/com/example/demo/model/Diseases$.java
target/generated-sources/annotations/com/example/demo/model/Cote$.java
target/generated-sources/annotations/com/example/demo/model/Account$.java
target/classes/com/example/demo/model/Vendor$.class
target/classes/com/example/demo/model/Vacxin$.class
target/classes/com/example/demo/model/TreatmentVacxin$.class
target/classes/com/example/demo/model/Stock$.class
target/classes/com/example/demo/model/RolePermission$.class
target/classes/com/example/demo/model/RoleAccount$.class
target/classes/com/example/demo/model/Role$.class
target/classes/com/example/demo/model/PigStatus$.class
target/classes/com/example/demo/model/PigAssociateStatus$.class
target/classes/com/example/demo/model/Pig$.class
target/classes/com/example/demo/model/Permission$.class
target/classes/com/example/demo/model/Other$.class
target/classes/com/example/demo/model/Notification$.class
target/classes/com/example/demo/model/HistoryExport$.class
target/classes/com/example/demo/model/Herd$.class
target/classes/com/example/demo/model/FeedType$.class
target/classes/com/example/demo/model/Feed$.class
target/classes/com/example/demo/model/Employee$.class
target/classes/com/example/demo/model/Diseases$.class
target/classes/com/example/demo/model/Cote$.class
target/classes/com/example/demo/model/Account$.class
target/classes/application.properties
src/main/resources/META-INF/persistence.xml
src/main/resources/application.properties
c04piggy_api.iml
.idea/misc.xml
.idea/workspace.xml
.idea/misc.xml
src/main/resources/application.properties
src/main/resources/META-INF/persistence.xml
.idea/workspace.xml
.idea/workspace.xml
src/main/resources/application.properties
target/classes/application.properties
target/classes/com/example/demo/model/Employee$.class
target/classes/com/example/demo/model/Pig$.class
target/generated-sources/annotations/com/example/demo/model/Employee$.java
target/generated-sources/annotations/com/example/demo/model/Pig$.java
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
target/classes/application.properties
target/classes/com/example/demo/model/Account$.class
target/classes/com/example/demo/model/Cote$.class
target/classes/com/example/demo/model/Diseases$.class
target/classes/com/example/demo/model/Employee$.class
target/classes/com/example/demo/model/Feed$.class
target/classes/com/example/demo/model/FeedType$.class
target/classes/com/example/demo/model/Herd$.class
target/classes/com/example/demo/model/HistoryExport$.class
target/classes/com/example/demo/model/Notification$.class
target/classes/com/example/demo/model/Other$.class
target/classes/com/example/demo/model/Permission$.class
target/classes/com/example/demo/model/Pig$.class
target/classes/com/example/demo/model/PigAssociateStatus$.class
target/classes/com/example/demo/model/PigStatus$.class
target/classes/com/example/demo/model/Role$.class
target/classes/com/example/demo/model/RoleAccount$.class
target/classes/com/example/demo/model/RolePermission$.class
target/classes/com/example/demo/model/Stock$.class
target/classes/com/example/demo/model/TreatmentVacxin$.class
target/classes/com/example/demo/model/Vacxin$.class
target/classes/com/example/demo/model/Vendor$.class
target/generated-sources/annotations/com/example/demo/model/Account$.java
target/generated-sources/annotations/com/example/demo/model/Cote$.java
target/generated-sources/annotations/com/example/demo/model/Diseases$.java
target/generated-sources/annotations/com/example/demo/model/Employee$.java
target/generated-sources/annotations/com/example/demo/model/Feed$.java
target/generated-sources/annotations/com/example/demo/model/FeedType$.java
target/generated-sources/annotations/com/example/demo/model/Herd$.java
target/generated-sources/annotations/com/example/demo/model/HistoryExport$.java
target/generated-sources/annotations/com/example/demo/model/Notification$.java
target/generated-sources/annotations/com/example/demo/model/Other$.java
target/generated-sources/annotations/com/example/demo/model/Permission$.java
target/generated-sources/annotations/com/example/demo/model/Pig$.java
target/generated-sources/annotations/com/example/demo/model/PigAssociateStatus$.java
target/generated-sources/annotations/com/example/demo/model/PigStatus$.java
target/generated-sources/annotations/com/example/demo/model/Role$.java
target/generated-sources/annotations/com/example/demo/model/RoleAccount$.java
target/generated-sources/annotations/com/example/demo/model/RolePermission$.java
target/generated-sources/annotations/com/example/demo/model/Stock$.java
target/generated-sources/annotations/com/example/demo/model/TreatmentVacxin$.java
target/generated-sources/annotations/com/example/demo/model/Vacxin$.java
target/generated-sources/annotations/com/example/demo/model/Vendor$.java
